*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Alegreya Sans SC', sans-serif;
    font-weight: bold;;
    font-size: large;
    font-style: normal;
   
    
    /* variables used */
    
    --fontsize: 35px;
    --fontfam: "Kaushan Script", cursive;
}




body{
  background: url("D:/Maanasa/PROJECTS/Websites/Nihas My version/images/back2.jpg")
}

.heading h1{
  font-size: var(--fontsize);
  font-family: var(--fontfam);
  font-weight: normal;
  font-size: 28px;
}

.heading{
  align-self: center;
}


.popup{
  width: 98%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 1%;
  border: solid 2px transparent;
  border-radius: 10px;
  box-shadow: 13px 18px 23px grey;
  
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 9;
    transition-delay: 0.2s;
    background-color: white;
    transition-duration: 0.2s;
    
}
.cart span {
    font-size: 23px;
    padding: 5px;
}

.nav{
    padding: 5px 10vw;
    display: flex;
    justify-content: space-between;
}

.logo{
  align-self: center;
  display: flex;
}

.brand-logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.fa-shopping-cart{
  color: palevioletred;
}

/* i.span{
  color: black;
} */

/* .search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
    margin: 0px;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #020202;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
} */

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}
/* --------- */

.menubar{
    width: inherit;
    display: flex;
    padding: 5px 10vw;
    justify-content: center;
    list-style: none;
    align-items: end;
}


/* ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 5px 30px;
    text-decoration: none;
    color: #262626;
    transition: 0.5s;
    z-index: 1;
}
  ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  ul li a:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
  ul li a:hover {
    color: #fff;
  }
  ul li a:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }
  ul li a:hover:after {
    transform: scaleY(1);
    opacity: 1;
  } */
    

  .links-container {
    position: absolute;
    top: 0;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .links-container li {
    margin: 0 20px;
    position: relative;
    list-style: none;
  }
  .links-container li a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    
    font-size: 18px;
    line-height: 1;
    /* font-weight: bold; */
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, palevioletred, palevioletred 50%, rgb(12, 12, 12) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
  }
  .links-container li a:before {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: palevioletred;
    transition: all 0.3s ease-in-out;
  }
  .links-container li a:hover {
    background-position: 0%;
  }
  .links-container li a:hover:before {
    width: 100%;
  }

.cart{
  align-self: center;
}
  
@media screen and (max-width: 1020px){

}

/* .link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    background: red;
    border-radius:50%;
    padding:3px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
    } */
    